.CodeBlock {
    border: 1px solid #262626;
    border-radius: 3px;
}

.pyContainer {
    display: grid;
    grid-template: auto / 1fr 1fr;
    width: 100%;
}

.console {
    --font-fira: "Fira Code";
    font-family: var(--font-fira), monospace;
    background: #0e0e0e;
    font-size: 0.9rem;
    white-space: pre-wrap;
    padding: 0 10px;
    overflow-y: auto;
    height: 300px;
}

.consoleInput {
    font-family: inherit;
    width: 100%;
    display: flex;
}

.consoleInput>input {
    font-family: inherit;
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #dfdcdc;
}

.consoleInput>input:focus {
    border: none;
    outline: none;
}

.consoleInput:before {
    content: ">";
}

.button {
    border: none;
    background: #363636;
    color: white;
    font-family: var(--font-inter), sans-serif;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
    backdrop-filter: brightness(90%);
}

@media screen and (max-width:768px) {
    .pyContainer {
        grid-template: 1fr 1fr/ auto;
    }
}