.CodeBlock {
    border: 1px solid #262626;
    border-radius: 3px;
}

.pyContainer {
    display: grid;
    grid-template: auto / 1fr 1fr;
    width: 100%;
}

.console {
    background: #191919;
    font-size: 0.9rem;
    white-space: pre-wrap;
    padding: 0 10px;
    overflow-y: auto;
    height: 300px;
}

.consoleInput {
    font-family: inherit;
    width: 100%;
    display: flex;
}

.consoleInput>input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #dfdcdc;
    font-family: inherit;
}

.consoleInput>input:focus {
    border: none;
    outline: none;
}

.consoleInput:before {
    content: ">";
}

@media screen and (max-width:768px) {
    .pyContainer {
        grid-template: 1fr 1fr/ auto;
    }
}