body, html {
  margin: 0;
  color: #dfdcdc;
  background: #1e1e1e;
  font-family: sans-serif;
}


/*----header----*/
header {
  position: sticky;
  height: 60px;
  background: #363636;
  width: 100%;
  z-index: 2;
}

.header-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1750px;
  margin: auto;
}

.header-content>span {
  padding: 30px;
}

.header-content>nav {
  display: flex;
  width: 30%;
  min-width: 210px;
  height: 100%;
}

.header-content>nav>a {
  display: flex;
  color: #dfdcdc;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-content>nav>a:hover {
  filter: brightness(95%);
  backdrop-filter: brightness(95%);
}

.header-content>nav>a:active {
  filter: brightness(90%);
  backdrop-filter: brightness(90%);
}


/*----main content----*/



/*----General Article Styling----*/

.ArticleHead {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 10px;
  width: fit-content;
}

.tags>span {
  color: mediumpurple;
  background: rgba(102, 51, 153, 0.3);
  border: 2px solid rgba(102, 51, 153, 0.5);
  border-radius: 10px;
  padding: 5px 15px;
}


table {
  padding: 5px;
}

tr, td, th {
  background: #262626;
  padding: 5px;
  border: 1px solid #363636;

}

th {
  background: #1e1e1e;
}


/*----center force graph container----*/
div:has(>.force-graph-container) {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /*width: 80%;*/
  height: 100%;
  margin-top: -60px;

}

/*----right sidebar----*/
.Sidebar {
  background: #262626;
  padding-top: 65px;
  min-width: 300px;
  width: 21%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
}

.SidebarScrollCont {
  padding: 0 25px;
  overflow-y: auto;
  height: 100%;
}

.SidebarEntry {
  color: inherit;
  text-decoration: none;
  background: #363636;
  display: flex;
  margin: 25px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.SidebarEntry>img {
  height: 5rem;
}

.SidebarEntry>p {
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

time {
  color: #a9a9a9;
  padding: 5px;
}

.SidebarEntry:hover {
  filter: brightness(90%);
}

.SidebarEntry:active {
  filter: brightness(80%);
  backdrop-filter: brightness(80%);
}


@media screen and (max-width: 720px) {
  .Sidebar {
    display: none;
  }
}


/*very temporary*/
p>img {
  width: 400px;
}

