body, html {
  margin: 0;
  color: #dfdcdc;
  background: #1e1e1e;
}

a {
  color: mediumpurple;
  text-decoration: none;
  border-bottom: 2px solid mediumpurple;
}

a:hover {
  color: #dfdcdc;
  box-shadow: inset 0 -1.25em 0 0 mediumpurple;
}

/*----header----*/
header {
  position: sticky;
  height: 60px;
  background: #363636;
  width: 100%;
  z-index: 2;
}

.header-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1750px;
  margin: auto;
}


.header-content>nav {
  display: flex;
  width: 30%;
  min-width: 210px;
  height: 100%;
}

.header-content>nav>a {
  font-size: 1.2rem;
  display: flex;
  border-bottom: none;
  box-shadow: none;
  color: #dfdcdc;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-content>nav>a:hover {
  filter: brightness(95%);
  backdrop-filter: brightness(95%);
}

.header-content>nav>a:active {
  filter: brightness(90%);
  backdrop-filter: brightness(90%);
}


/*----main content----*/



/*----General Article Styling----*/

.ArticleHead {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 5px;
  max-width: fit-content;
  align-items: center;
  text-wrap: nowrap;
}

.tags>span {
  color: mediumpurple;
  background: rgba(102, 51, 153, 0.25);
  /*border: 2px solid rgba(102, 51, 153, 0.5);*/
  border-radius: 1000px;
  padding: 5px 10px;
}


table {
  padding: 5px;
}

tr, td, th {
  background: #262626;
  padding: 5px;
  border: 1px solid #363636;

}

th {
  background: #1e1e1e;
}


/*----center force graph container----*/
div:has(>.force-graph-container) {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /*width: 80%;*/
  height: 100%;
  margin-top: -60px;

}

/*----right sidebar----*/
.Sidebar {
  background: #262626;
  padding-top: 65px;
  min-width: 350px;
  width: 21%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
}

.SidebarScrollCont {
  padding: 0 25px;
  overflow-y: auto;
  height: 100%;
}

.SidebarEntry {
  height: 6.1rem;
  color: inherit;
  text-decoration: none;
  background: #363636;
  display: grid;
  grid-template:
"img text text" 1fr
"img text text" 1fr
"img tags date" 1fr / auto auto 1fr;
  margin: 25px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  /*overflow: hidden;*/
  cursor: pointer;
}

.SidebarEntry>img {
  height: inherit;
  width: 6.1rem;
  object-fit: cover;
  grid-area: img;
  margin: 0 10px 0 0;

}

.SidebarEntry>p {
  grid-area: text;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.SidebarEntry>time {
  grid-area: date;
  justify-self: right;
  padding-right: 15px;
}

.SidebarEntry>.tags {
  grid-area: tags;
  justify-self: left;
  width: 100%;
  overflow-x: auto;
}

time {
  color: #a9a9a9;
  padding: 5px;
}

.SidebarEntry:hover {
  filter: brightness(90%);
}

.SidebarEntry:active {
  filter: brightness(80%);
  backdrop-filter: brightness(80%);
}


@media screen and (max-width: 720px) {
  .Sidebar {
    display: none;
  }
}

