:root {
  --font-inter: 'Inter';
}

body, html {
  margin: 0;
  color: #dfdcdc;
  background: #1e1e1e;
}

.AllContent {
  margin-top: 60px;
}

@media screen and (max-width: 529px) {
  .AllContent {
    margin-top: 100px;
  }
}


a {
  color: mediumpurple;
  text-decoration: none;
  border-bottom: 2px solid mediumpurple;
}

a:hover {
  color: #dfdcdc;
  box-shadow: inset 0 -1.25em 0 0 mediumpurple;
}

/*----General Article Styling----*/

.ArticleHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 5px;
  max-width: fit-content;
  align-items: center;
  text-wrap: nowrap;
}

.tags>span {
  color: mediumpurple;
  background: rgba(102, 51, 153, 0.25);
  /*border: 2px solid rgba(102, 51, 153, 0.5);*/
  border-radius: 1000px;
  padding: 5px 10px;
}

.TableContainer {
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
}

table {
  padding: 5px;
  border-collapse: collapse;
}

tr, td, th {
  background: #262626;
  padding: 5px;
  border: 1px solid #363636;
}

th {
  background: #1e1e1e;
}

p, li {
  font-family: var(--font-inter), sans-serif;
  line-height: 1.3rem;
}

time {
  color: #a9a9a9;
  padding: 5px;
}

img {
  image-rendering: high-quality;
}

/*----center force graph container----*/
div:has(>.force-graph-container) {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /*width: 80%;*/
  height: 100%;
  margin-top: -60px;
}

@media screen and (max-width: 529px) {
  div:has(>.force-graph-container) {
    margin-top: -100px;
  }
}

