
.Label {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: 0 30px;
}

.Name {
    font-size: 1.4rem;
}

.Comment {
    background: #191919;
    padding: 0 10px;
    font-family: monospace;
    font-size: 1rem;
    color: #7a7e85;

}