/*----header----*/
.Header {
    position: fixed;
    height: 60px;
    top: 0;
    background: #363636;
    width: 100%;
    z-index: 2;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
}

.HeaderContent {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1750px;
    margin: auto;
}

.Label {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: 0 30px;
}

.Name {
    font-size: 1.4rem;
    text-wrap: nowrap;
    color: #dfdcdc;
}

.Comment {
    background: #191919;
    padding: 0 10px;
    font-family: monospace;
    font-size: 1rem;
    color: #7a7e85;
    text-wrap: nowrap;
}

.Nav {
    display: flex;
    width: 30%;
    min-width: 210px;
    height: 100%;
}

.Nav>a {
    font-size: 1.2rem;
    display: flex;
    border-bottom: none;
    box-shadow: none;
    color: #dfdcdc;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Nav>a:hover {
    filter: brightness(95%);
    backdrop-filter: brightness(95%);
}

.Nav>a:active {
    filter: brightness(90%);
    backdrop-filter: brightness(90%);
}

.HamMenu {
    display: none;

}

@media screen and (max-width: 720px) {
    .HamMenu {
        display: flex;
    }

    .HamMenu:hover {
        filter: brightness(95%);
        backdrop-filter: brightness(95%);
    }

    .HamMenu:active {
        filter: brightness(90%);
        backdrop-filter: brightness(90%);
    }



    .Nav {
        display: none;
    }

    .Open {
        background: #262626;
        position: fixed;
        top: 60px;
        right: 0;
        height: 120px;
        display: flex;
        flex-direction: column;
    }



    .Label {
        padding: 0 10px;

    }



}

@media screen and (max-width: 529px) {
    .Header {
        height: 100px;
    }
    .Label {
        flex-wrap: wrap;
    }
    .Open {
        width: 100%;
        top: 100px;
        border-bottom: 3px solid #1e1e1e;
    }

}

