/*----header----*/
.Header {
    position: sticky;
    height: 60px;
    background: #363636;
    width: 100%;
    z-index: 2;
}

.HeaderContent {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1750px;
    margin: auto;
}

.Label {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: 0 30px;
}

.Name {
    font-size: 1.4rem;
}

.Comment {
    background: #191919;
    padding: 0 10px;
    font-family: monospace;
    font-size: 1rem;
    color: #7a7e85;
}

.Nav {
    display: flex;
    width: 30%;
    min-width: 210px;
    height: 100%;
}

.Nav>a {
    font-size: 1.2rem;
    display: flex;
    border-bottom: none;
    box-shadow: none;
    color: #dfdcdc;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Nav>a:hover {
    filter: brightness(95%);
    backdrop-filter: brightness(95%);
}

.Nav>a:active {
    filter: brightness(90%);
    backdrop-filter: brightness(90%);
}

@media screen and (max-width: 480px) {
    .Nav {
        display: none;
    }
}

